@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --black: 17 17 17;
    --pink: 232 114 192;
    --dark-green: 2 53 60;
    --green: 68 147 66;
    --accent: 63 208 201;
    --yellow: 255 223 0;
    --dark-grey: 68 68 68;
    --white: 255 255 255;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-family: var(--font-archivo);
}

/* body {
  overflow: hidden;
} */

body::-webkit-scrollbar {
  display: none;
}

/* body::-webkit-scrollbar {
  width: 12px;
  display: none;
}

body::-webkit-scrollbar-track {
  background: rgb(var(--black));
  border-left: 1px solid white;
}

body::-webkit-scrollbar-thumb {
  background: rgb(var(--accent));
} */

h3 {
  font-family: var(--font-screebie);
}

.dark-gradient {
  background: linear-gradient(180deg, #000, #222 100%);
}
.pink-gradient {
  background: linear-gradient(180deg, rgb(var(--pink)), #000 80%);
}

.bg-cow {
  background-image: url('../public/img/bgbig.jpg');
  background-position: center;
  background-size: cover;
}

.bg-land {
  background-image: url('../public/img/land.jpg');
  background-position: center;
  background-size: cover;
}

.bg-squares {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  animation: bg-scrolling-reverse 2s infinite;
  animation-timing-function: linear;
  filter: invert(1);
}

.bg-nfts {
  background-image: url('../public/img/cows.jpg');
  background-repeat: repeat;
  background-size: 20%;
}

.bg-halftone {
  background-image: url('../public/img/halftone-2.jpg');
}

.bg-blobs {
  background-image: url('../public/img/blobs.svg');
  background-size: 100%;
  background-position: center;
  transition: .2s;
}

.mix-dodge {
  mix-blend-mode: color-dodge;
}

.bg-notebook {
  background-image: url('../public/img/lined_paper.jpg');
}

.button-filter {
  filter: drop-shadow(5px 5px 0px rgba(0, 0, 0, 0.3));
}

.text-shadow-dark {
  text-shadow: 3px 3px 0 rgb(var(--dark-green));
}
.text-shadow-accent {
  text-shadow: 3px 3px 0 rgb(var(--accent));
}
.text-shadow-pink {
  text-shadow: 3px 3px 0 rgb(var(--pink));
}

.bshadow {
  box-shadow: 10px 10px 0 rgb(var(--pink));
}

.bdropshadow {
  filter: drop-shadow(12px 12px 0px rgb(var(--accent)));
}

.drop-shadow-nft {
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.5));
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.vertical {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

nav li .label {
  transition: .2s;
  opacity: 0;
  margin-top: -5px;
}

nav li:hover .label {
  transform: translateX(calc(-100% - 30px));
  opacity: 1;
}

.active-label {
  box-shadow: 16px 0 0px rgba(var(--black));
}

.feature-shadow {
  box-shadow: 3px 3px 0 rgb(var(--pink));
}

.apexcharts-legend {
  text-align: left;
  transform: translate(-14px, -10px);
}
.apexcharts-legend-text {
  color: white !important;
  font-family: var(--font-archivo) !important;
  font-size: .9rem !important;
  font-weight: 100 !important;
}

@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
